<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking Form</title>
</head>
<body>
<h2>Booking Form</h2>
<form th:action="@{/barbers/order}" th:object="${newBooking}" method="post">
    <label for="service">Select a service:</label>
    <select id="service" name="service.id">
        <option th:each="service : ${services}" th:value="${service.id}" th:text="${service.name}"></option>
    </select>
    <br>
<!--    <label for="status">Status:</label>-->
<!--    <input type="text" id="status" name="status" th:field="*{status}">-->
<!--    <br>-->
<!--    <label for="time">Time:</label>-->
<!--    <input type="date" id="time" name="time" th:field="*{time}">-->
<!--    <br>-->
    <button type="submit">Book Service</button>
</form>
</body>
</html>